google-genai
Pillow
google-generativeai
google-cloud-texttospeech
pdfplumber
python-dotenv
faiss-cpu
sentence_transformers
prompt_toolkit
pymupdf
tiktoken
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
requests
markdown2
langdetect
chromadb
easyocr
langchain-google-genai
pytesseract
langchain
langchain_chroma
flask
redis
markdown
pinecone
aiohttp
aiofiles
uvicorn
asgiref
aiolimiter
asyncio
gunicorn
uvicorn
quart
uvloop